@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Outfit", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --color-light-white: #f3f7f4;
  --color-light-gray: #e2ebe4;
  --color-answer-color: #696969;
  --color-custom-black: #22282e;
  --color-custom-gray-2: #aaaaaa;
  --color-custom-gray-3: #989ca0;
  --color-custom-gray-4: #6b6b6b;
  --color-custom-gray-5: #e0e0e0;
  --color-custom-gray-6: #eeeeee;
  --color-custom-gray-7: #cfcfcf;
  --color-custom-gray-8: #f7f7f7;
  --color-custom-gray-9: #363636;
  --color-custom-black-1: #141414;
  --color-custom-green-1: #c4d7c9;
  --color-custom-white-1: #ffffff33;
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #313941;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #26a17c;
  --primary-foreground: #ffffff;
  --secondary: #5648d8;
  --secondary-foreground: #c9c4f5;
  --muted: #313941;
  --muted-foreground: #aaaaaa;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@utility container-nav {
  @apply container mx-auto max-w-full  px-4;
  @variant sm {
    @apply px-6;
  }
  @variant lg {
    @apply px-0.5 max-w-full;
  }
  @variant xl {
    @apply max-w-[96rem] px-8;
  }
}

@utility container-md {
  @apply container mx-auto !max-w-6xl px-4;
  @variant sm {
    @apply px-6;
  }
  @variant xl {
    @apply !max-w-[80rem] px-8;
  }
}
@utility container-lg {
  @apply container mx-auto max-w-7xl px-6 py-0;
  @variant xl {
    @apply max-w-[96rem] px-8;
  }
}
/* lg: 13px sm: 12px */
@utility text-xs {
  @apply text-[0.813rem];
  @variant sm {
    @apply text-[0.75rem];
  }
  @variant lg {
    @apply text-[0.813rem];
  }
}
/* lg: 15px sm: 14px */
@utility text-sm {
  @apply text-[0.938rem];
  @variant sm {
    @apply text-[0.875rem];
  }
  @variant lg {
    @apply text-[0.938rem];
  }
}

/* lg: 17px sm: 16px */
@utility text-md {
  @apply text-[1.063rem];
  @variant sm {
    @apply text-[1rem];
  }
  @variant lg {
    @apply text-[1.063rem];
  }
}
/* lg: 18px sm: 17px */
@utility text-lg {
  @apply text-[1.125rem];
  @variant sm {
    @apply text-[1.063rem];
  }
  @variant lg {
    @apply text-[1.125rem];
  }
}
/* lg: 19px sm: 18px */
@utility text-xl {
  @apply text-[1.188rem];
  @variant sm {
    @apply text-[1.125rem];
  }
  @variant lg {
    @apply text-[1.188rem];
  }
}
/* lg: 20px sm: 18px */
@utility text-2xl {
  @apply text-[1.25rem];
  @variant sm {
    @apply text-[1.125rem];
  }
  @variant lg {
    @apply text-[1.25rem];
  }
}
/* lg: 22px sm: 20px */
@utility text-3xl {
  @apply text-[1.375rem];
  @variant sm {
    @apply text-[1.25rem];
  }
  @variant lg {
    @apply text-[1.375rem];
  }
}
/* lg: 25px sm: 22px */
@utility text-4xl {
  @apply text-[1.563rem];
  @variant sm {
    @apply text-[1.25rem];
  }
  @variant lg {
    @apply text-[1.563rem];
  }
}
/* lg: 28px sm: 24px */
@utility text-5xl {
  @apply text-[1.75rem];
  @variant sm {
    @apply text-[1.5rem];
  }
  @variant lg {
    @apply text-[1.75rem];
  }
}
/* lg: 36px sm: 30px */
@utility text-6xl {
  @apply text-[2.25rem];
  @variant sm {
    @apply text-[1.875rem];
  }
  @variant lg {
    @apply text-[2.25rem];
  }
}
/* lg: 42px sm: 36px */
@utility text-7xl {
  @apply text-[2.625rem];
  @variant sm {
    @apply text-[2.25rem];
  }
  @variant lg {
    @apply text-[2.625rem];
  }
}
/* lg: 45px sm: 42px */
@utility text-8xl {
  @apply text-[3rem];
  @variant sm {
    @apply text-[2.625rem];
  }
  @variant lg {
    @apply text-[3rem];
  }
}
/* lg: 50px sm: 45px */
@utility text-9xl {
  @apply text-[3.125rem];
  @variant sm {
    @apply text-[2.813rem];
  }
  @variant lg {
    @apply text-[3.125rem];
  }
}

@utility rounded-4xl {
  @apply rounded-[2.5rem];
}

.embla__custom_slide {
  @apply flex-[0_0_100%] min-w-0;
}
.embla__custom_slide1 {
  @apply flex-[0_0_100%] lg:flex-[0_0_50%] min-w-0;
}
.rich-text {
  @apply !font-sans;
}

.rich-text ul {
  list-style: disc;
  margin-left: 1.5rem;
}
.rich-text li {
  margin-bottom: 0.25rem;
}

.rich-text a {
  @apply !text-primary;
}
.rich-text span {
  @apply !font-sans !text-md md:!text-lg ;
}
.rich-text u {
  @apply !font-sans !text-md md:!text-lg !text-primary;
}

.rich-text table {
  @apply !w-full shadow-2xl;
}
.rich-text strong {
  @apply !font-semibold;
}
.rich-text table th {
  @apply !bg-custom-gray-5 !border !border-white/30 !py-3 !px-2;
}
.rich-text table td {
  /* @apply !px-6 !py-4 !text-left !font-semibold !text-foreground !border-b !border-border; */
}

.rich-text table thead > tr {
  /* @apply !bg-muted; */
}
.rich-text table tbody > tr {
  /* @apply hover:!bg-muted/50 !transition-colors; */
}
.rich-text table tbody > tr > td {
  @apply !border !border-custom-gray-5 !py-3 !px-2;
}
